@keyframes container-main {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.container-main {
  background-color: #171a1c;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: container-main 800ms ease forwards;
}

.wrong-text {
  color: #ffffff;
  font-size: 24px;
  cursor: default;
  transition: all 400ms;
}

.wrong-text:hover {
  font-size: 32px;
}

.wrong-hint {
  color: #ffffff;
  cursor: default;
}
